@charset "UTF-8";
.programs {
  padding: 1rem 0;
  font-family: Arial, Helvetica, sans-serif;
}
.programs__body {
  max-width: 100%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .programs__body {
    padding: 0 2rem;
  }
}
@media (min-width: 992px) {
  .programs__body {
    padding: 0 3rem;
  }
}
@media (min-width: 1200px) {
  .programs__body {
    padding: 0 4rem;
    max-width: 72.6rem;
  }
}
.programs__header {
  margin-bottom: 2rem;
  text-align: center;
}
.programs__title {
  margin-bottom: 0.75rem;
}
.programs__description {
  color: #000;
  margin: 0 auto;
  line-height: 1.4;
}
@media (min-width: 250px) {
  .programs__description {
    font-size: 1.05rem;
  }
}
@media (min-width: 460px) {
  .programs__description {
    font-size: 1.125rem;
  }
}
@media (min-width: 640px) {
  .programs__description {
    font-size: 1.375rem;
  }
}
@media (min-width: 1200px) {
  .programs__description {
    font-size: 1.5rem;
    line-height: 1.5;
  }
}
.programs__gallery {
  display: grid;
  gap: 1rem;
}
@media (min-width: 576px) {
  .programs__gallery {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
@media (min-width: 768px) {
  .programs__gallery {
    gap: 1.5rem;
  }
}
@media (min-width: 992px) {
  .programs__gallery {
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
@media (min-width: 1200px) {
  .programs__gallery {
    gap: 2.5rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}
.programs__item {
  position: relative;
  padding: 0.7rem;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: start;
  transition: all 0.3s ease;
  width: 100%;
  overflow: visible;
}
@media (min-width: 300px) {
  .programs__item {
    min-height: 316px;
  }
}
@media (max-width: 576px) {
  .programs__item {
    flex-direction: row;
    min-height: 300px;
  }
}
@media (min-width: 756px) {
  .programs__item {
    min-height: 316px;
  }
}
@media (min-width: 992px) {
  .programs__item {
    min-height: 372px;
  }
}
@media (min-width: 1200px) {
  .programs__item {
    min-height: 402px;
  }
}
.programs__item:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
@media (min-width: 576px) {
  .programs__item--full-width {
    grid-column: span 2;
    flex-direction: row;
  }
}
.programs__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 100;
  flex: 1 1 100%;
}
@media (max-width: 300px) {
  .programs__column {
    padding: 0 0.3rem;
  }
}
@media (min-width: 300px) and (max-width: 576px) {
  .programs__column {
    padding: 0 0.5rem;
  }
}
@media (min-width: 576px) {
  .programs__column {
    padding: 0 1rem;
  }
}
@media (min-width: 768px) {
  .programs__column {
    padding: 0 1.5rem;
  }
}
@media (min-width: 992px) {
  .programs__column {
    padding: 0 2rem;
  }
}
@media (min-width: 1200px) {
  .programs__column {
    padding: 0 2.5rem;
  }
}
.programs__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  -o-object-fit: contain;
     object-fit: contain;
  flex: 1 1 50%;
  z-index: 50;
  overflow: visible;
}
.programs__name {
  position: relative;
  font-size: 1.25rem;
  font-weight: 700;
  color: #ffffff;
  line-height: 1.5;
  margin-bottom: 1rem;
  text-align: left;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  z-index: 2;
}
@media (min-width: 300px) {
  .programs__name {
    font-size: 1.3rem;
  }
}
@media (min-width: 768px) {
  .programs__name {
    font-size: 1.5rem;
  }
}
@media (min-width: 992px) {
  .programs__name {
    font-size: 1.9rem;
  }
}
@media (min-width: 1200px) {
  .programs__name {
    font-size: 2.3rem;
  }
}
.programs__link {
  display: inline-block;
  background-color: #ffd263;
  padding: 0.6rem 1.2rem;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  z-index: 2;
  min-height: 55px;
  width: 265px;
}
@media (min-width: 576px) {
  .programs__link {
    max-width: 200px;
  }
}
@media (min-width: 768px) {
  .programs__link {
    padding: 1rem 2rem;
  }
}
@media (min-width: 992px) {
  .programs__link {
    padding: 1rem 1.8rem;
    min-width: 350px;
  }
}
@media (min-width: 1200px) {
  .programs__link {
    padding: 1.5rem 3rem;
  }
}
.programs__link a {
  color: #000;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
}
@media (max-width: 300px) {
  .programs__link a {
    font-size: 1rem;
  }
}
@media (min-width: 300px) {
  .programs__link a {
    font-size: 1.2rem;
  }
}
.programs__link:hover {
  background-color: #ffc107;
  transform: scale(1.05);
}
.programs .program-web {
  background-color: #0051ff;
}
@media (min-width: 320px) {
  .programs .program-web .ibg img {
    min-width: 239px;
    min-height: 256px;
    top: 60px;
    left: -240px;
  }
}
@media (min-width: 370px) {
  .programs .program-web .ibg img {
    left: -180px;
    top: 50px;
  }
}
@media (min-width: 400px) {
  .programs .program-web .ibg img {
    left: -180px;
    top: 40px;
  }
}
@media (min-width: 450px) {
  .programs .program-web .ibg img {
    min-width: 305px;
    min-height: 327px;
    top: -10px;
    left: -150px;
  }
}
@media (min-width: 576px) {
  .programs .program-web .ibg img {
    min-width: 370px;
    min-height: 397px;
    top: -40px;
  }
}
@media (min-width: 640px) {
  .programs .program-web .ibg img {
    min-width: 370px;
    min-height: 397px;
    left: -135px;
  }
}
@media (min-width: 768px) {
  .programs .program-web .ibg img {
    left: -120px;
  }
}
@media (min-width: 992px) {
  .programs .program-web .ibg img {
    min-width: 465px;
    min-height: 499px;
    top: -70px;
    left: -130px;
  }
}
@media (min-width: 1200px) {
  .programs .program-web .ibg img {
    min-width: 507px;
    min-height: 544px;
  }
}
.programs .program-1c {
  background-color: #0038af;
  background-image: url("../img/main/programs/1с.gif");
}
.programs .program-ai {
  background-color: #3389ff;
  overflow: hidden;
  background-image: url("../img/main/programs/pc.webp");
}
.programs .program-camp {
  background-color: #0051ff;
}
@media (min-width: 320px) {
  .programs .program-camp .ibg img {
    min-width: 243px;
    min-height: 232px;
    top: 30px;
    left: -230px;
  }
}
@media (min-width: 370px) {
  .programs .program-camp .ibg img {
    left: -190px;
  }
}
@media (min-width: 450px) {
  .programs .program-camp .ibg img {
    left: -180px;
    top: -10px;
    min-width: 348px;
    min-height: 333px;
  }
}
@media (min-width: 550px) {
  .programs .program-camp .ibg img {
    min-width: 367px;
    min-height: 351px;
    left: -150px;
    top: -40px;
  }
}
@media (min-width: 700px) {
  .programs .program-camp .ibg img {
    min-width: 367px;
    min-height: 351px;
    left: -100px;
  }
}
@media (min-width: 768px) {
  .programs .program-camp .ibg img {
    min-width: 370px;
    min-height: 351px;
    left: -110px;
  }
}
@media (min-width: 992px) {
  .programs .program-camp .ibg img {
    min-width: 465px;
    min-height: 431px;
  }
}
@media (min-width: 1200px) {
  .programs .program-camp .ibg img {
    min-width: 507px;
    min-height: 491px;
    left: -130px;
    top: -60px;
  }
}
.programs .program-electronics {
  background-color: #0038af;
  background-image: url("../img/main/programs/electronics.webp");
}
.programs .program-java {
  background-color: #3389ff;
  background-image: url("../img/main/programs/java.webp");
}