.programs {
  padding: 1rem 0;
  font-family: Arial, Helvetica, sans-serif;
}
.programs__body {
  max-width: 100%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .programs__body {
    padding: 0 2rem;
  }
}
@media (min-width: 992px) {
  .programs__body {
    padding: 0 3rem;
  }
}
@media (min-width: 1200px) {
  .programs__body {
    padding: 0 4rem;
    max-width: 72.6rem;
  }
}
.programs__header {
  margin-bottom: 2rem;
  text-align: center;
}
.programs__title {
  margin-bottom: 0.75rem;
}
.programs__description {
  color: #000;
  margin: 0 auto;
  line-height: 1.4;
}
@media (min-width: 250px) {
  .programs__description {
    font-size: 1.05rem;
  }
}
@media (min-width: 460px) {
  .programs__description {
    font-size: 1.125rem;
  }
}
@media (min-width: 640px) {
  .programs__description {
    font-size: 1.375rem;
  }
}
@media (min-width: 1200px) {
  .programs__description {
    font-size: 1.5rem;
    line-height: 1.5;
  }
}
.programs__gallery {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
}
@media (min-width: 576px) {
  .programs__gallery {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
}
@media (min-width: 768px) {
  .programs__gallery {
    gap: 1.5rem;
  }
}
@media (min-width: 992px) {
  .programs__gallery {
    gap: 2rem;
  }
}
@media (min-width: 1200px) {
  .programs__gallery {
    gap: 2.5rem;
  }
}
.programs__item {
  position: relative;
  padding: 0.7rem;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: start;
  transition: all 0.3s ease;
  width: 100%;
  overflow: visible;
}
@media (min-width: 300px) {
  .programs__item {
    min-height: 316px;
  }
}
@media (max-width: 576px) {
  .programs__item {
    flex-direction: row;
    min-height: 300px;
  }
}
@media (min-width: 756px) {
  .programs__item {
    min-height: 316px;
  }
}
@media (min-width: 992px) {
  .programs__item {
    min-height: 372px;
  }
}
@media (min-width: 1200px) {
  .programs__item {
    min-height: 402px;
  }
}
.programs__item:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
@media (min-width: 576px) {
  .programs__item--full-width {
    grid-column: span 2;
    flex-direction: row;
  }
}
@media (min-width: 576px) {
  .programs__item:not(.programs__item--full-width) {
    min-height: 280px;
  }
}
@media (min-width: 768px) {
  .programs__item:not(.programs__item--full-width) {
    min-height: 300px;
  }
}
@media (min-width: 992px) {
  .programs__item:not(.programs__item--full-width) {
    min-height: 320px;
  }
}
@media (min-width: 1200px) {
  .programs__item:not(.programs__item--full-width) {
    min-height: 350px;
  }
}
.programs__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 100;
  flex: 1 1 100%;
}
@media (max-width: 300px) {
  .programs__column {
    padding: 0 0.3rem;
  }
}
@media (min-width: 300px) and (max-width: 576px) {
  .programs__column {
    padding: 0 0.5rem;
  }
}
@media (min-width: 576px) {
  .programs__column {
    padding: 0 1rem;
  }
}
@media (min-width: 768px) {
  .programs__column {
    padding: 0 1.5rem;
  }
}
@media (min-width: 992px) {
  .programs__column {
    padding: 0 2rem;
  }
}
@media (min-width: 1200px) {
  .programs__column {
    padding: 0 2.5rem;
  }
}
.programs__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  -o-object-fit: contain;
     object-fit: contain;
  flex: 1 1 50%;
  z-index: 50;
  overflow: visible;
}
.programs__name {
  position: relative;
  font-size: 1.25rem;
  font-weight: 700;
  color: #fff;
  line-height: 1.5;
  margin-bottom: 1rem;
  text-align: left;
  z-index: 2;
}
@media (min-width: 300px) {
  .programs__name {
    font-size: 1.3rem;
  }
}
@media (min-width: 768px) {
  .programs__name {
    font-size: 1.5rem;
  }
}
@media (min-width: 992px) {
  .programs__name {
    font-size: 1.9rem;
  }
}
@media (min-width: 1200px) {
  .programs__name {
    font-size: 2.3rem;
  }
}
.programs__link {
  padding: 0.6rem 1.2rem;
}
@media (min-width: 768px) {
  .programs__link {
    padding: 1rem 2rem;
  }
}
@media (min-width: 992px) {
  .programs__link {
    padding: 1rem 1.8rem;
    min-width: 350px;
  }
}
@media (min-width: 1200px) {
  .programs__link {
    padding: 1.5rem 3rem;
  }
}