.course-builder {
  padding: 40px 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

  .container {
    max-width: 900px;
    margin: 0 auto;
    background: #fff;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  }

  &__title {
    text-align: center;
    margin-bottom: 2rem;
  }

  &__block {
    margin-bottom: 2rem;
    padding-bottom: 1.25rem;
    border-bottom: 1px solid #eee;

    input,
    textarea {
      display: block;
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 8px;
      border: 1px solid #ccc;
      font-size: 1.25rem;

      &:focus {
        border-color: #0038af;
        outline: none;
      }
    }

    button {
      background-color: #0038af;
      color: #fff;
      padding: 0.5rem 1rem;
      border: none;
      font-size: 1.2rem;
      border-radius: 0.5rem;
      cursor: pointer;
      margin-top: 5px;

      &:hover {
        background-color: #0038af;
      }
    }
  }
  &__subtitle {
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }
  &__label {
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  &__save-btn {
    display: block;
    width: 100%;
    background-color: #0038af;
    color: #fff;
    padding: 1rem;
    border: none;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-top: 2rem;

    &:hover {
      background-color: #0051ff;
    }
  }
  button[onClick] {
    margin-top: 1rem;
    font-size: 2rem;
  }
  .danger-btn {
    background: #005;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 4px;

    &:hover {
      background: #d82323;
    }
  }

  .course-builder__item-row,
  .course-builder__pricing-plan,
  .course-builder__faq-row {
    display: flex;
    gap: 10px;
    align-items: flex-start;
  }
}
