.format-study {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 1rem;
  text-align: center;

  &__title {
    margin-bottom: 3rem;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 2rem;
  }
}

.format-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 1rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @media (min-width: 640px) {
      width: 221px;
      height: 221px;
    }
    @media (max-width: 1200px) {
      width: 260px;
      height: 260px;
    }
  }

  &__label {
    background-color: #0038af;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 400;
    padding: 0.75rem 1rem;
    max-width: 70%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    @media (min-width: 370px) {
      font-size: 1.125rem;
    }
    @media (min-width: 670px) {
      font-size: 1.375rem;
    }
    @media (min-width: 1200px) {
      font-size: 1.5rem;
    }
  }

  &--rotate {
    &-left .format-item__label {
      transform: rotate(-3deg);
    }

    &-right .format-item__label {
      transform: rotate(3deg);
    }

    &-strong-left .format-item__label {
      transform: rotate(-6deg);
    }

    &-none .format-item__label {
      transform: rotate(0deg);
    }
  }
}
