.programs {
  padding: 1rem 0;
  font-family: Arial, Helvetica, sans-serif;
  &__body {
    max-width: 100%;
    margin: 0 auto;
    @media (min-width: 768px) {
      padding: 0 2rem;
    }
    @media (min-width: 992px) {
      padding: 0 3rem;
    }
    @media (min-width: 1200px) {
      padding: 0 4rem;
      max-width: 72.6rem;
    }
  }

  &__header {
    margin-bottom: 2rem;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
  }
  &__title {
    margin-bottom: 0.75rem;
  }

  &__description {
    color: #000;
    margin: 0 auto;
    line-height: 1.4;
    @media (min-width: 250px) {
      font-size: 1.05rem;
    }
    @media (min-width: 460px) {
      font-size: 1.125rem;
    }
    @media (min-width: 640px) {
      font-size: 1.375rem;
    }
    @media (min-width: 1200px) {
      font-size: 1.5rem;
      line-height: 1.5;
    }
  }

  &__gallery {
    display: grid;
    gap: 1rem;

    @media (min-width: 576px) {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    @media (min-width: 768px) {
      gap: 1.5rem;
    }
    @media (min-width: 992px) {
      gap: 2rem;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    @media (min-width: 1200px) {
      gap: 2.5rem;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
  }

  &__item {
    position: relative;
    padding: 0.7rem;
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease;
    overflow: hidden;
    width: 100%;

    @media (max-width: 300px) {
      min-height: 150px;
    }
    @media (min-width: 300px) and (max-width: 756px) {
      min-height: 250px;
    }
    @media (min-width: 768px) {
      min-height: 300px;
    }
    @media (min-width: 992px) {
      min-height: 372px;
    }
    @media (min-width: 1200px) {
      min-height: 402px;
    }
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(90deg, rgba(0, 81, 255, 0.8) 0%, rgba(0, 81, 255, 0.5) 50%, rgba(0, 81, 255, 0) 100%);
      z-index: 1;
    }

    &--full-width {
      @media (min-width: 576px) {
        grid-column: span 2;
      }
    }
  }

  &__name {
    position: relative;
    font-size: 1.25rem;
    font-weight: 700;
    color: #ffffff;
    line-height: 1.5;
    margin-bottom: 1rem;
    max-width: 50%;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    z-index: 2;
    @media (max-width: 300px) {
      font-size: 0.9rem;
      line-height: 1;
    }
    @media (min-width: 300px) and (max-width: 400px) {
      font-size: 1.4rem;
    }
    @media (min-width: 640px) {
      font-size: 1.6rem;
    }
    @media (min-width: 992px) {
      font-size: 2.1rem;
    }
    @media (min-width: 1200px) {
      font-size: 2.3rem;
    }
  }

  &__link {
    position: relative;
    display: inline-block;
    background-color: #ffd263;
    border: 1px solid #000;
    padding: 0.6rem 1.2rem;
    border-radius: 30px;
    text-align: center;
    width: fit-content;
    transition: all 0.3s ease;
    z-index: 2;
    @media (min-width: 768px) {
      padding: 1rem 2rem;
    }
    @media (min-width: 960px) {
      padding: 1rem 1.8rem;
      width: 280px;
    }
    @media (min-width: 1200px) {
      padding: 1.5rem 3rem;
    }
    a {
      color: #000;
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      @media (max-width: 300px) {
        font-size: 1rem;
      }
      @media (min-width: 300px) {
        font-size: 1.2rem;
      }
    }

    &:hover {
      background-color: #ffc107;
      transform: scale(1.05);
    }
  }

  // Индивидуальные фоны
  .program-web {
    background-color: #0051ff;
    background-image: url("../img/main/programs/1_.png.webp");
  }

  .program-1c {
    background-color: #0038af;
    background-image: url("../img/main/programs/1с.gif");
  }

  .program-ai {
    background-color: #3389ff;
    background-image: url("../img/main/programs/pc.webp");
  }

  .program-camp {
    background-color: #0051ff;
    background-image: url("../img/main/programs/camp.webp");
  }

  .program-electronics {
    background-color: #0038af;
    background-image: url("../img/main/programs/electronics.webp");
  }

  .program-java {
    background-color: #3389ff;
    background-image: url("../img/main/programs/java.webp");
  }
  .container {
    padding: 2rem 0 0 0;
    @media (min-width: 768px) {
      padding: 2.5rem 0 0 0;
    }
    @media (min-width: 992px) {
      padding: 2.8rem 0 0 0;
    }
    @media (min-width: 1200px) {
      padding: 3.2rem 0 0 0;
    }
  }
}

