@import "mixins.scss";
.teachers {
  background-color: #e4e4e4;
  text-align: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  padding: 40px 0;

  &__title {
    margin-bottom: 40px;
  }

  &__slider {
    @include flexbox();
    justify-content: center;
    align-items: center;
    position: relative;
    height: 420px;
  }

  &__slide {
    position: absolute;
    width: 260px;
    opacity: 0;
    transform: scale(0.7);
    transition: all 0.4s ease;
    @include flexbox();
    flex-direction: column;

    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }
    &--active {
      opacity: 1;
      transform: scale(1);
      z-index: 3;
      pointer-events: auto;
    }
    &--prev {
      opacity: 0.6;
      transform: translateX(-280px) scale(0.9);
      z-index: 2;
    }
    &--next {
      opacity: 0.6;
      transform: translateX(280px) scale(0.9);
      z-index: 2;
    }
    &:nth-child(odd) {
      background: #0038af;
      color: #fff;
    }
    &:nth-child(even) {
      background: #ffff;
      color: #000;
    }
    &:first-child {
      background: #0038af;
      color: #fff;
    }
    &:last-child {
      background: #ffff;
      color: #000;
    }
  }
  &__info {
    padding: 20px;
    @include flexbox();
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 40%;
  }
  &__name {
    font-size: 1.5rem;
    font-weight: bold;
  }
  &__position {
    font-size: 1rem;
  }

  &__controls {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;

    button {
      background: none;
      border: 1px solid #000;
      padding: 8px 14px;
      font-size: 20px;
      cursor: pointer;
      border-radius: 6px;
    }
  }
}
